* {
    margin: 0;
    padding: 0;
}
button {
    border:none;
}

li {
    list-style: none;
}

body {
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: auto;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    margin-right: 60px;
}

.nav {
    float: left;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 40px;
    color: #050505;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    float: left;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 340px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #00a4ff;
    border-right: 0px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url(images/btn.png);
}

.user {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 30px;
    font-size: 14px;
    color: #666;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}